- name: create system user roboshop
  ansible.builtin.user:
    name: roboshop
    system: true
    home: /app
    shell: /sbin/nologin
    comment: "Roboshop system user"

- name: delete app directory
  ansible.builtin.file:
    path: /app
    state: absent

- name: create app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: delete {{ server }} zip file
  ansible.builtin.file:
    path: /tmp/{{ server }}.zip
    state: absent

- name: download {{ server }}
  ansible.builtin.get_url:
    url: https://roboshop-artifacts.s3.amazonaws.com/{{ server }}-v3.zip 
    dest: /tmp/{{ server }}.zip

- name: unarchieve {{ server }}
  ansible.builtin.unarchive:
    src: /tmp/{{ server }}.zip
    dest: /app
    remote_src: yes